<div class="wapper">
	<!-- 图片 -->
<div id="imageStatic">
	<img src="images/about.jpg">
</div>
<!-- 图片 end -->
<!-- main -->
<div class="news-main">
	<div class="newsNav">
	<ul class="newsNav-parent">
		<li><a href="#about">关于我们</a></li>
	</ul>
	<ul class="newsNav-child">
		<li style="background-color:#00b3e1;"><a href="#about">公司简介</a></li>
		<li><a href="#law">法律声明</a></li>
		<li><a href="#conact">联系我们</a></li>
	</ul>
	<ng-include src="'views/newsNav-conact.html'"></ng-include>
	</div>
	<div class="news-content">
		<div class="news-content-nav">
			<div class="news-content-nav-left">
				<strong>关于我们</strong>		
			</div>
			<div class="news-content-nav-right">
				<span>当前位置：</span>
				<a href="#">首页</a>
				<span>&gt;</span>
				<a href="#about">关于我们</a>
				<span>&gt;</span>
				<span>公司简介</span>
			</div>
		</div>
		<div class="news-content-main" style="margin:30px;">
		<p style="font-size: 20px;line-height: 2.5;">武汉安蓝智能科技有限公司成立于2015年，注册资本一千万元整，是一家致力于计算机软硬件研发、销售，计算机网络集成，消防工程、通信工程、安防工程、道路信号工程、建筑智能化工程、LED照明工程承接、设计、施工、维修，安防系统、雷电防护系统、LED显示屏系统设计、施工、维修，计算机综合布线，计算机软硬件、安防产品、办公耗材批发及零售的民营科技公司。公司自成立以来一直本着“诚信、敬业、求实、创新”的经营理念，坚持“以人为本，科学经营”的管理理念，以“用户至上、信誉第一”的优质服务赢得了广大客户的认可。
  公司成立至今，已取得了明显的社会效益和经济效益。公司的强劲实力，年轻化、高素质的人才队伍，使得我们企业具有不断向前发展的无穷动力，在激烈的竞争中，我们以先进的技术、科学的管理创一流的工程质量和热情诚恳的服务态度，在安防工程和安防产品市场中扎根成长起来。</p>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>
<!-- main end -->
</div>
