<!-- 头部区域 -->
<header class="header">
    <a href="#" class="hd_logo" title="武汉安蓝科技有限公司"><img src="images/logo.png"></a>
    <div class="hd_tel"><img src="images/phone_icon.png"> 咨询电话：<p>027-87586058</p></div>
    <div class="hd_nav">
        <ul class="nav-parent">
            <li><a href="#">首页</a><i></i></li>
            <li><a href="#newsTrade">新闻资讯</a><i></i>
                <div class="nav-child">
                    <ul>
                        <li><a href="#newsTrade">行业新闻</a></li>
                        <li><a href="#newsMarket">市场现状</a></li>
                        <li><a href="#newsHoliday">放假通知</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#project">工程案例</a><i></i></li>
            <li><a href="#recruit">招贤纳士</a><i></i></li>
            <li><a href="#certificate">企业文化</a><i></i></li>
            <li><a href="#about">关于我们</a><i></i></li>
        </ul>
    </div>
</header>
<!-- 头部区域 end-->