<div class="wapper">
	<!-- 图片 -->
<div id="imageStatic">
	<img src="images/about.jpg">
</div>
<!-- 图片 end -->
<!-- main -->
<div class="news-main">
	<div class="newsNav">
	<ul class="newsNav-parent">
		<li><a href="#about">关于我们</a></li>
	</ul>
	<ul class="newsNav-child">
		<li><a href="#about">公司简介</a></li>
		<li><a href="#law">法律声明</a></li>
		<li><a href="#conact">联系我们</a></li>
		<li style="background-color:#00b3e1;"><a href="#join">招商加盟</a></li>
	</ul>
	<ng-include src="'views/newsNav-conact.html'"></ng-include>
	</div>
	<div class="news-content">
		<div class="news-content-nav">
			<div class="news-content-nav-left">
				<strong>关于我们</strong>		
			</div>
			<div class="news-content-nav-right">
				<span>当前位置：</span>
				<a href="#">首页</a>
				<span>&gt;</span>
				<a href="#about">关于我们</a>
				<span>&gt;</span>
				<span>招商加盟</span>
			</div>
		</div>
		<div class="news-content-main">
		
		</div>
	</div>
	<div style="clear:both;"></div>
</div>
<!-- main end -->
</div>
