<div class="wapper">
	<!-- 图片 -->
<div id="imageStatic">
	<img src="images/about.jpg">
</div>
<!-- 图片 end -->
<!-- main -->
<div class="news-main">
	<div class="newsNav">
	<ul class="newsNav-parent">
		<li><a href="#about">关于我们</a></li>
	</ul>
	<ul class="newsNav-child">
		<li><a href="#about">公司简介</a></li>
		<li style="background-color:#00b3e1;"><a href="#law">法律声明</a></li>
		<li><a href="#conact">联系我们</a></li>
	</ul>
	<ng-include src="'views/newsNav-conact.html'"></ng-include>
	</div>
	<div class="news-content">
		<div class="news-content-nav">
			<div class="news-content-nav-left">
				<strong>关于我们</strong>		
			</div>
			<div class="news-content-nav-right">
				<span>当前位置：</span>
				<a href="#">首页</a>
				<span>&gt;</span>
				<a href="#about">关于我们</a>
				<span>&gt;</span>
				<span>法律声明</span>
			</div>
		</div>
		<div class="news-content-main" id="lawComplain">
		<p>
			本网站全部内容由武汉安蓝科技有限公司所拥有和管理，并受版权法的保护。使用者只可以为非商业性的个人目的下载本网站内容，但不得对该内容进行修改或翻制。本网站内容不得以其他任何方式进行复制或使用。
		</p>
		<p>
			本网站所有人将尽力在本网站提供更新和准确的信息，但对本网站所提供信息的准确性、及时性和完整性不作任何陈述、承诺或保证。本网站所有人对使用者由于访问或不能访问本网站或者由于依赖本网站所提供信息而产生的任何损失或损害不承担任何责任。
		</p>
		<p>
			本网站可能提供对其他网站的链接，但本网站所有人对该等链接网站的内容不承担任何责任，而且对由于该等链接网站的内容所导致的损失或损害不承担任何责任。所有对其他网站的链接仅为方便本网站的使用者而提供。
		</p>
		<p>
			本网站上的商标、服务标识、商号、商品装潢和产品名称在中国及国际上均受保护。除了为识别本网站所涉产品或服务外，未经本网站事先书面授权，不得使用本网站上的商标、服务标识、商号、商品装潢和产品名称。
		</p>
		<p>
			任何人使用本网站作为平台，上传或发布任何影像资料、文字或者其他信息的，应当确保对该影像资料、文字或者其他信息拥有完整的权利，包括但不限于著作权、肖像权、所有权等。若因该影像资料、文字或其他信息侵犯第三方权益的，本网站所有人不承担任何责任。本网站所有人一旦获知存在或者可能存在侵权行为时，会将侵权或者涉嫌侵权的影像资料、文字或者其他信息删除，并在必要时向有关部门提供相关信息。本网站所有人对他人上传或发布的影像资料、文字或者其他信息不做任何形式的担保或保证。
		</p>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>
<!-- main end -->
</div>
<style type="text/css">
	#lawComplain > p{
		font-size: 20px;
	}
</style>