<div class="wapper">
	<!-- 图片 -->
<div id="imageStatic">
	<img src="images/newsTrade.png">
</div>
<!-- 图片 end -->
<!-- main -->
<div class="news-main">
	<div class="newsNav">
	<ul class="newsNav-parent">
		<li><a href="#newsTrade">新闻资讯</a></li>
	</ul>
	<ul class="newsNav-child">
		<li style="background-color:#00b3e1;"><a href="#newsTrade">行业新闻</a></li>
		<li><a href="#newsMarket">市场现状</a></li>
		<li><a href="#newsHoliday">放假通知</a></li>
	</ul>
	<ng-include src="'views/newsNav-conact.html'"></ng-include>
</div>
	<div class="news-content">
		<div class="news-content-nav">
			<div class="news-content-nav-left">
				<strong>行业新闻</strong>		
			</div>
			<div class="news-content-nav-right">
				<span>当前位置：</span>
				<a href="#">首页</a>
				<span>&gt;</span>
				<a href="#newsTrade">新闻资讯</a>
				<span>&gt;</span>
				<span>行业新闻</span>
			</div>
		</div>
		<div class="news-content-main">
		<ul>
			<li ng-repeat="item in showList track by $index" ng-model="item"><a href="javascript:void(0);" ng-click="jumpContent(item)">{{item.title}}</a><span>{{item.time}}</span></li>
		</ul>
		<div class="news-content-none" ng-show="!totalList.length">
			数据为空
		</div>
		</div>
		<div class="news-content-foot">
			<span>共{{totalList.length}}条记录&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span>页次：{{currentPage}}/{{totalPage}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
			<span>&lt;&nbsp;<a href="javascript:void(0);" ng-click="changePageUp()">上一页</a>
			<a href="javascript:void(0)" ng-repeat="item in pageTh" ng-click="changePage(item)" ng-model="item">&nbsp;{{item}}&nbsp;</a>
			&nbsp;<a href="javascript:void(0)" ng-click="changePageDown()">下一页</a>&nbsp;&gt;</span>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>
<!-- main end -->
</div>
