<ul class="newsNav-conact" style="margin-top: 50px;margin-bottom: 50px;">
	<li><a href="http://wpa.qq.com/msgrd?v=3&uin=3550559909&site=qq&menu=yes" target="_blank"><img src="images/qq.jpg">&nbsp;咨询我</a></li>
	<!-- <li class="weixin"><img src="images/weixin.jpg">&nbsp;&nbsp;&nbsp;&nbsp;加我微信<img class="weixinPicture" src="images/weixinPicture.jpg" style="width:200px;"></li> -->
	<li><img src="images/telephone.png"><span>&nbsp;&nbsp;全国服务热线</span><br><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;027-87586058</span></li>
</ul>