<div class="wapper">
	<!-- 图片 -->
<div id="imageStatic">
	<img src="images/culture.png">
</div>
<!-- 图片 end -->
<!-- main -->
<div class="news-main">
	<div class="newsNav">
	<ul class="newsNav-parent">
		<li><a href="#certificate">企业文化</a></li>
	</ul>
	<ul class="newsNav-child">
		<li><a href="#certificate">资质证明</a></li>
		<li style="background-color:#00b3e1;"><a href="#recruitCulture">人才招聘</a></li>
		<li><a href="#news">新闻中心</a></li>
		<li><a href="#activity">组织活动</a></li>
	</ul>
	<ng-include src="'views/newsNav-conact.html'"></ng-include>
	</div>
	<div class="news-content">
		<div class="news-content-nav">
			<div class="news-content-nav-left">
				<strong>企业文化</strong>		
			</div>
			<div class="news-content-nav-right">
				<span>当前位置：</span>
				<a href="#">首页</a>
				<span>&gt;</span>
				<a href="#certificate">企业文化</a>
				<span>&gt;</span>
				<span>人才招聘</span>
			</div>
		</div>
		<div class="newsContentTop">
		<h4><strong>{{currentNews.title}}</strong></h4>
		<span>发布时间：{{currentNews.time}}</span>
		</div>
		<div class="news-content-main">
		<p ng-repeat="item in currentNews.content track by $index" ng-show="currentNews">{{item}}</p>
		<div class="news-content-none" ng-show="!currentNews">
			这条数据不存在
		</div>
		</div>
		<div class="newsContentFoot">
			<div class="preNews">
				<span>上一篇：<a href="javascript:void(0)" ng-model="preNews" ng-click="toPreNews(preNews)">{{preNewsMsg}}</a></span>
			</div>
			<div class="nextNews">
				<span>下一篇：<a href="javascript:void(0)" ng-model="nextNews" ng-click="toNextNews(nextNews)">{{nextNewsMsg}}</a></span>
			</div>
		</div>
	</div>
	<div style="clear:both;"></div>
</div>
<!-- main end -->
</div>